<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, viewport-fit=cover, maximum-scale=1, user-scalable=0"
    charset="UTF-8">
  <title>InstaGamer Reset Password</title>
  <link rel="stylesheet" href="reset-password.component.scss">
</head>

<body>
  <div class="resetpassword">
    <div class="container">
      <div class="row justify-content-center mt-4">
        <div class="content-center">
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <h3>Reset Password</h3>
            <hr>
            <div class="form-group">
              <p>Enter your account email.</p>
              <input type="email" name="email" ngModel required #email="ngModel" class="form-control"
                id="resetPasswordEmail" aria-describedby="emailHelp" placeholder="Account Email">
            </div>
            <div class="reset">
              <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Send Recovery Email <i
                  class="fab fa-telegram-plane"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
