<div class="resetpassword">
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="content-center">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <h3>Reset Password</h3>
          <hr>
          <div class="form-group">
            <p>Enter your account email.</p>
            <input type="email" name="email" ngModel required #email="ngModel" class="form-control"
                   id="resetPasswordEmail" aria-describedby="emailHelp" placeholder="Account Email">
          </div>
          <div class="reset">
            <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Send Recovery Email <i
              class="fab fa-telegram-plane"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
