<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Reset Password</h3>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <input type="email" name="email" ngModel required #email="ngModel" class="form-control" id="resetPasswordEmail" aria-describedby="emailHelp" placeholder="Account Email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Send Recovery Email <i class="fab fa-telegram-plane"></i></button>
    </form>
  </div>
</div>
