.resetpassword form{
	width: 660px;
	height: 230px;
	background: #fff;
	border-radius: 5px;
	padding: 15px;
	-webkit-box-shadow: -1px -1px 8px -1px #6441a5;
	-moz-box-shadow: -1px -1px 8px -1px #6441a5;
	box-shadow: -1px -1px 8px -1px #6441a5;
	margin-bottom: 30px;
}
.resetpassword form input{
	width: 60%;
	height: 40px;
	font-size: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0 15px;
  margin-bottom: 15px;
  outline: 0;
  box-shadow: none;
}
.resetpassword form input:hover{
	border: 2px solid #aa92d4;
}
.resetpassword form input:focus{
	border: 2px solid #aa92d4;
}
.btn{
	background: #6441a5;
	color: #fff;
  border: none;
  outline: none !important;
  box-shadow: none !important;
}
.reset button{
  background-color: #6441a5;
  border-color: #6441a5;
}
.reset button:active{
  background:#6441a5;
}
