.home-container {

  height: auto;
  //background-image: url("../../../assets/bg-game.jpg");
  //background-color: #242f40;
  background-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .home-body {
    //background-color: #242f40;
    height: 100%;
    width: 50rem;
  }
}
