<app-navbar></app-navbar>

<div class="home-container">
  <div class="home-body">

    <router-outlet></router-outlet>

    <div class="row">
      <div class="leftcolumn">
        <div class="media top">
          <div class="media-body">
            <div class="media mt-3 shadow-textarea">
              <img class="d-flex rounded-circle avatar z-depth-1-half mr-3"
                src="https://files.nsctotal.com.br/s3fs-public/graphql-upload-files/ator%20de%20thor%20chris%20hemsworth_1.jpg?IehC7NHeBzukZDKSz53DpX2T4f9RK4vo" alt="Avatar">
              <div class="media-body">
                <h5 class="mt-0 font-weight-bold blue-text" style="text-transform: capitalize">
                  {{user.name || 'User Name'}}</h5>
                <div class="form-group basic-textarea rounded-corners purple-border">
                  <textarea class="form-control z-depth-1" id="exampleFormControlTextarea345" rows="1"
                    placeholder="What's playing?" [(ngModel)]="post.whoDescription"></textarea>
                </div>
                <div class="form-inline">
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3"><i class="fas fa-photo-video"></i></span>
                      </div>
                      <input type="text" class="form-control" id="basic-url" placeholder="Enter an image URL here"
                        aria-describedby="basic-addon3" [(ngModel)]="post.imageUrl">
                    </div>
                  </div>
                  <div class="list-game mb-3">
                    <select class="custom-select" [(ngModel)]="post.gameId">
                      <option value="0" selected disabled hidden>Choose the Game</option>
                      <ng-container *ngFor="let game of listGames">
                        <option [value]="+game.id">{{game.name}}</option>
                      </ng-container>
                    </select>
                  </div>
                  <div class="post mb-3">
                    <button type="submit" [disabled]="post.whoDescription === ''" class="btn btn-primary"
                      (click)="createPost()"> Post<i class="fas fa-crosshairs post-icon"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card" *ngFor="let post of listPost">
          <p hidden> {{getUserPost(1)}}</p>
          <div class="media post">
            <div class="media user">
              <img class="d-flex rounded-circle avatar z-depth-1-half mr-3"
                src="https://files.nsctotal.com.br/s3fs-public/graphql-upload-files/ator%20de%20thor%20chris%20hemsworth_1.jpg?IehC7NHeBzukZDKSz53DpX2T4f9RK4vo" alt="Avatar">
              <h2>{{post.name || 'User Name'}}</h2>
            </div>
            <div class="media game ml-auto">
              <img class="d-flex rounded-circle avatarGame z-depth-1-half"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Video-Game-Controller-Icon-IDV-green.svg/1024px-Video-Game-Controller-Icon-IDV-green.svg.png"
                alt="Avatar">
              <h2>{{post.game.name || 'Game'}}</h2>
            </div>
          </div>
          <h5 class='description'>{{post.description || 'Post Description'}}</h5>
          <div class="fakeimg" style="height:200px;" *ngIf="post.imageUrl && post.imageUrl !== ''">
            <img [src]="post.imageUrl">
          </div>
          <div style="float:left;">
            <a class="aLike" style="display:inline" [routerLink]="" routerLinkActive="active"><i
                class="far fa-heart like-icon"></i></a>
            <span class="numberLikes">300</span>
          </div>
        </div>
      </div>
      <div class="rightcolumn">
        <div class="card gameFollow">
          <h3>Games to follow</h3>
          <hr>
          <div class="media game">
            <img class="d-flex rounded-circle avatarGame z-depth-1-half"
              src="https://cdn-icons-png.flaticon.com/512/13/13973.png"
              alt="Avatar">
            <span>{{'Game'}}</span>
            <button type="button" class="btn btnFollow btn-outline-info btn-sm ml-auto">Follow</button>
          </div>
          <hr style="margin-top: 0.8rem">
          <div class="media game">
            <img class="d-flex rounded-circle avatarGame z-depth-1-half"
              src="https://cdn-icons-png.flaticon.com/512/13/13973.png"
              alt="Avatar">
            <span>{{'Game'}}</span>
            <button type="button" class="btn btnFollow btn-outline-info btn-sm ml-auto">Follow</button>
          </div>
          <hr style="margin-top: 0.8rem">
          <div class="media game">
            <img class="d-flex rounded-circle avatarGame z-depth-1-half"
              src="https://cdn-icons-png.flaticon.com/512/13/13973.png"
              alt="Avatar">
            <span>{{'Game'}}</span>
            <button type="button" class="btn btnFollow btn-outline-info btn-sm ml-auto">Follow</button>
          </div>
          <hr style="margin-top: 0.8rem">
        </div>
        <div class="card whoFollow">
          <h3>Who to follow</h3>
          <hr>
          <div class="media user">
            <img class="d-flex rounded-circle avatar z-depth-1-half mr-3"
              src="https://cdn-icons-png.flaticon.com/512/61/61173.png" alt="Avatar">
            <span>{{'User Name'}}</span>
            <button type="button" class="btn btnFollow btn-outline-info btn-sm ml-auto">Follow</button>
          </div>
          <hr style="margin-top: 0.8rem">
          <div class="media user">
            <img class="d-flex rounded-circle avatar z-depth-1-half mr-3"
              src="https://cdn-icons-png.flaticon.com/512/61/61173.png" alt="Avatar">
            <span>{{'User Name'}}</span>
            <button type="button" class="btn btnFollow btn-outline-info btn-sm ml-auto">Follow</button>
          </div>
          <hr style="margin-top: 0.8rem">
          <div class="media user">
            <img class="d-flex rounded-circle avatar z-depth-1-half mr-3"
              src="https://cdn-icons-png.flaticon.com/512/61/61173.png" alt="Avatar">
            <span>{{'User Name'}}</span>
            <button type="button" class="btn btnFollow btn-outline-info btn-sm ml-auto">Follow</button>
          </div>
          <hr style="margin-top: 0.8rem">
        </div>
      </div>
    </div>

    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
      <div class="modal-dialog modal-login">
        <div class="modal-content">
          <div class="modal-header">
            <div class="avatar">
              <img src="https://www.searchpng.com/wp-content/uploads/2018/12/Gamer-Png-icon.png" alt="Avatar">
            </div>
            <h4 class="modal-title">Authentication</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <form #f="ngForm" action="/examples/actions/confirmation.php" method="post">
              <div class="form-group">
                <p>An access code has been sent to your account email.</p>
                <input type="text" class="form-control" ngModel required #username="ngModel" id="loginEmail"
                  name="codAcesso" placeholder="Enter your access code here" required="required">
              </div>
              <div class="form-group">
                <button type="submit" [disabled]="f.invalid" class="btn btn-primary btn-lg btn-block login-btn">Submit<i
                    class="fab fa-google-play submit-icon"></i></button>
              </div>
              <hr>
              <div class="resend">
                <a href="">Resend the Code<i class="fab fa-telegram-plane resend-icon"></i></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
